<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>🏰 Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="medieval-theme">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">🏰 Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="medieval-card">
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" required="required"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" required="required"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="warning" expand="block" (click)="login()">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
