.medieval-theme {
  background-image: url('/assets/medieval-background.jpg'); /* Gambar latar belakang bertema Medieval */
  background-size: cover;
  color: #d4af37; /* Warna emas untuk teks */
  font-family: 'MedievalSharp', serif;
}

.welcome-container {
  text-align: center;
  margin-top: 20px;
  color: #d4af37;
}

.welcome-container h1 {
  font-size: 2em;
  text-shadow: 1px 1px 4px #000;
}

.welcome-container p {
  font-size: 1.2em;
  font-style: italic;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.medieval-option-card {
  background-color: #f5deb3; /* Warna kertas tua */
  border: 1px solid #8b4513; /* Warna coklat */
  border-radius: 8px;
  width: 45%;
  margin: 10px;
  text-align: center;
  font-family: 'MedievalSharp', serif;
  color: #4b3621;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.medieval-option-card ion-icon {
  font-size: 2em;
  color: #8b4513;
}

.medieval-option-card p {
  margin-top: 5px;
  font-size: 1.1em;
  font-weight: bold;
}
